.header-list {
    width: 100%;
    height: 88px;
    border-bottom: 2px solid #E0E0E0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-list-logo {
    margin-left: 48px;
}

.header-list-label {
    font-size: 18px;
    font-weight: 500;
    color: #4F4F4F;
}

.header-list-buttons {
    margin-right: 32px;
}

.header-list-buttons button {
    width: 200px;
    height: 42px;
    border: none;
    border-radius: 6px;
    background-color: #006666;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
}

.questions_list_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.questions_list {
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions_list-change_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 576px;
    margin-bottom: 64px;
}

.questions_list-change_color {
    height: 32px;
    width: 47px;
    border-radius: 6px;
    margin: 0;
    padding: 0;
    border: none;
}
 .active {
    border: 4px solid #006666;
}
.questions_list-label_name {
    width: 528px;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    color: #4f4f4f;
    margin-bottom: 16px;
}

.questions_list-name {
    width: 528px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 16px;
}

.card_item-wrapper {
    display: flex;
    flex-direction: row;
    width: 632px;
}

.card_item-buttons {
    width: 24px;
    margin: 80px 0 0 0;
}

.card_item-buttons-button {
    margin-bottom: 16px;
}

.card_item-buttons-button button {
    padding: 0;
    background-color: #FFFFFF;
    border: none;
}

.card_item {
    min-width: 576px;
    height: 512px;
    border-radius: 20px;
    box-shadow: 0 24px 64px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: 24px 32px 24px 48px;
}

.card_item-question {
    height: 50%;
    border-radius: 20px 20px 0 0;
    box-sizing: border-box;
    padding: 32px;
}

.card_item-label {
    font-size: 14px;
    font-weight: 500;
    color: #006666;
    margin-bottom: 24px;
}

.card_item-input {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    word-wrap: break-word;
    max-height: 150px;
    overflow: auto;
}

.card_item-answer {
    height: 50%;
    box-sizing: border-box;
    padding: 32px;
}

.card_item button {

}

.change_card {
    width: 576px;
    height: 512px;
    border-radius: 20px;
    margin: auto;
    text-align: left;
    box-shadow: 0 24px 64px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
}

.change_card-button {
    margin: 32px;
}

.change_card-button button {
    border: none;
    background-color: inherit;
    padding: 0;
}

.change_card-question {
    height: 50%;
    background-color: #72E0E3;
    border-radius: 20px 20px 0 0;
    box-sizing: border-box;
    padding: 32px;
}

.change_card-answer {
    height: 50%;
    box-sizing: border-box;
    padding: 32px;
}

.change_card-question-label,
.change_card-answer-label {
    font-size: 14px;
    font-weight: 500;
    color: #006666;
    margin-bottom: 24px;
}

.change_card-question-input textarea,
.change_card-answer-input textarea {
    min-height: 150px;
    max-height: 150px;
    min-width: 512px;
    max-width: 512px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    border: none;
    background-color: inherit;
    padding: 0;
    resize: none;
}